<div class="container mt-5 small-container bg-light">
  <h1>Edit "<%= @flat.name %>"</h1>
  <%= simple_form_for(@flat) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.input :image_url %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
